meta:
  version: 3
  flow: Chip
  substituting_steps:

    # Magic reports some overlaps which can be ignored
    Checker.IllegalOverlap: null

    # Disable KLayout DRC
    #KLayout.DRC: null
    #Checker.KLayoutDRC: null

    # Disable magic DRC
    #Magic.DRC: null
    #Checker.MagicDRC: null

    # Disable KLayout antenna check
    #KLayout.Antenna: null
    #Checker.KLayoutAntenna: null

    # Disable KLayout density check
    #KLayout.Density: null
    #Checker.KLayoutDensity: null
    
    # Save time
    #OpenROAD.IRDropReport: null
    #KLayout.XOR: null
    #Netgen.LVS: null
    #Checker.LVS: null

DESIGN_NAME: chip_top
VERILOG_FILES:
- dir::../src/chip_top.sv
- dir::../src/chip_core.sv
- dir::../src/Framebuffer.v

VERILOG_DEFINES: [FUNCTIONAL]

# Enable plugin for better SystemVerilog support
# USE_SLANG: True
# SLANG_ARGUMENTS: ['--keep-hierarchy']

# Slightly smaller file sizes
PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# Specify the pad instances for the padring
PAD_SOUTH: [
    clk_pad,
    rst_n_pad,
    "outputs\\[23\\].output_pad",
    "outputs\\[22\\].output_pad",
    "outputs\\[21\\].output_pad",
    "outputs\\[20\\].output_pad",
    "outputs\\[19\\].output_pad",
    "outputs\\[18\\].output_pad",
    "outputs\\[17\\].output_pad",
    "outputs\\[16\\].output_pad",
    "outputs\\[15\\].output_pad",
    "outputs\\[14\\].output_pad",
    "outputs\\[13\\].output_pad",
    "outputs\\[12\\].output_pad",
    "outputs\\[11\\].output_pad",
    "outputs\\[10\\].output_pad",
    "outputs\\[9\\].output_pad",
    "outputs\\[8\\].output_pad",
    "outputs\\[7\\].output_pad",
    "outputs\\[6\\].output_pad",
    "outputs\\[5\\].output_pad",
    "outputs\\[4\\].output_pad",
    "outputs\\[3\\].output_pad",
    "outputs\\[2\\].output_pad",
    "outputs\\[1\\].output_pad",
    "outputs\\[0\\].output_pad",
    "inputs\\[67\\].input_pad"
]

PAD_EAST: [
    "vdd_pads\\[0\\].vdd_pad",
    "vss_pads\\[0\\].vss_pad",
    "inputs\\[38\\].input_pad",
    "inputs\\[37\\].input_pad",
    "inputs\\[36\\].input_pad",
    "inputs\\[35\\].input_pad",
    "inputs\\[34\\].input_pad",
    "inputs\\[33\\].input_pad",
    "inputs\\[32\\].input_pad",
    "inputs\\[31\\].input_pad",
    "inputs\\[30\\].input_pad",
    "inputs\\[29\\].input_pad",
    "inputs\\[28\\].input_pad",
    "inputs\\[27\\].input_pad",
    "inputs\\[26\\].input_pad",
    "inputs\\[25\\].input_pad",
    "inputs\\[24\\].input_pad",
    "inputs\\[23\\].input_pad",
    "inputs\\[22\\].input_pad",
    "inputs\\[21\\].input_pad",
    "inputs\\[20\\].input_pad",
    "inputs\\[19\\].input_pad",
    "inputs\\[18\\].input_pad",
    "inputs\\[17\\].input_pad",
    "inputs\\[16\\].input_pad",
    "inputs\\[15\\].input_pad"
]

PAD_NORTH: [
    "outputs\\[31\\].output_pad",
    "outputs\\[30\\].output_pad",
    "outputs\\[29\\].output_pad",
    "outputs\\[28\\].output_pad",
    "outputs\\[27\\].output_pad",
    "outputs\\[26\\].output_pad",
    "outputs\\[25\\].output_pad",
    "outputs\\[24\\].output_pad",
    "inputs\\[14\\].input_pad",
    "inputs\\[13\\].input_pad",
    "inputs\\[12\\].input_pad",
    "inputs\\[11\\].input_pad",
    "inputs\\[10\\].input_pad",
    "inputs\\[9\\].input_pad",
    "inputs\\[8\\].input_pad",
    "inputs\\[7\\].input_pad",
    "inputs\\[6\\].input_pad",
    "inputs\\[5\\].input_pad",
    "inputs\\[4\\].input_pad",
    "inputs\\[3\\].input_pad",
    "inputs\\[2\\].input_pad",
    "inputs\\[1\\].input_pad",
    "inputs\\[0\\].input_pad",
    "inputs\\[66\\].input_pad",
    "iovdd_pads\\[0\\].iovdd_pad",
    "iovss_pads\\[0\\].iovss_pad"
]

PAD_WEST: [
    "inputs\\[65\\].input_pad",
    "inputs\\[64\\].input_pad",
    "inputs\\[63\\].input_pad",
    "inputs\\[62\\].input_pad",
    "inputs\\[61\\].input_pad",
    "inputs\\[60\\].input_pad",
    "inputs\\[59\\].input_pad",
    "inputs\\[58\\].input_pad",
    "inputs\\[57\\].input_pad",
    "inputs\\[56\\].input_pad",
    "inputs\\[55\\].input_pad",
    "inputs\\[54\\].input_pad",
    "inputs\\[53\\].input_pad",
    "inputs\\[52\\].input_pad",
    "inputs\\[51\\].input_pad",
    "inputs\\[50\\].input_pad",
    "inputs\\[49\\].input_pad",
    "inputs\\[48\\].input_pad",
    "inputs\\[47\\].input_pad",
    "inputs\\[46\\].input_pad",
    "inputs\\[45\\].input_pad",
    "inputs\\[44\\].input_pad",
    "inputs\\[43\\].input_pad",
    "inputs\\[42\\].input_pad",
    "inputs\\[41\\].input_pad",
    "inputs\\[40\\].input_pad",
    "inputs\\[39\\].input_pad"
]

# SDC files
PNR_SDC_FILE: dir::chip_top.sdc
SIGNOFF_SDC_FILE: dir::chip_top.sdc
FALLBACK_SDC: dir::chip_top.sdc

# Power / ground nets
VDD_NETS:
- VDD
GND_NETS:
- VSS

# Clock
CLOCK_PORT: clk_PAD
CLOCK_NET: clk_pad/p2c

CLOCK_PERIOD: 20

# Floorplanning
FP_SIZING: absolute
# 3880umx5070um including 26um
# for the sealring on all sides
DIE_AREA: [0, 0, 3000, 3000]
CORE_AREA: [365, 365, 2635, 2635] #Original margin was 365 on all sides

# Increase for more logic
# on your die
PL_TARGET_DENSITY_PCT: 10
GRT_ALLOW_CONGESTION: true

# PDN
PDN_CORE_RING: True

# Override bondpad name
PAD_BONDPAD_NAME: bondpad_70x70_novias

# Bondpad is not yet included in the PDK
EXTRA_GDS:
- dir::../ip/bondpad_70x70/gds/bondpad_70x70.gds
- dir::../ip/bondpad_70x70_novias/gds/bondpad_70x70_novias.gds

EXTRA_LEFS:
- dir::../ip/bondpad_70x70/lef/bondpad_70x70.lef
- dir::../ip/bondpad_70x70_novias/lef/bondpad_70x70_novias.lef

IGNORE_DISCONNECTED_MODULES:
- bondpad_70x70
- bondpad_70x70_novias

# Maximum metal width without slotting: 30um
PDN_CORE_RING_VWIDTH: 15
PDN_CORE_RING_HWIDTH: 15
# Ensure minimum spacing for long metals
PDN_CORE_RING_VSPACING: 5
PDN_CORE_RING_HSPACING: 5

PDN_CORE_RING_CONNECT_TO_PADS: True
PDN_ENABLE_PINS: False

# Because we have multiple power pads for one power domain
MAGIC_EXT_UNIQUE: notopports

MACROS:
  RM_IHPSG13_1P_1024x32_c2_bm_bist:
    gds:
      - pdk_dir::libs.ref/sg13g2_sram/gds/RM_IHPSG13_1P_1024x32_c2_bm_bist.gds
    lef:
      - pdk_dir::libs.ref/sg13g2_sram/lef/RM_IHPSG13_1P_1024x32_c2_bm_bist.lef
    vh:
      - pdk_dir::libs.ref/sg13g2_sram/verilog/RM_IHPSG13_1P_1024x32_c2_bm_bist.v
      - pdk_dir::libs.ref/sg13g2_sram/verilog/RM_IHPSG13_1P_core_behavioral_bm_bist.v
    lib:
      "nom_typ_1p20V_25C":
        - pdk_dir::libs.ref/sg13g2_sram/lib/RM_IHPSG13_1P_1024x32_c2_bm_bist_typ_1p20V_25C.lib
      "nom_fast_1p32V_m40C":
        - pdk_dir::libs.ref/sg13g2_sram/lib/RM_IHPSG13_1P_1024x32_c2_bm_bist_fast_1p32V_m55C.lib
      "nom_slow_1p08V_125C":
        - pdk_dir::libs.ref/sg13g2_sram/lib/RM_IHPSG13_1P_1024x32_c2_bm_bist_slow_1p08V_125C.lib
    instances:
      # Make sure to specify the SRAMs in pdn_cfg.tcl
      i_chip_core.framebuffer.SRAM_Gen[0].sram:
        location: [590, 590]
        orientation: N

# This is an alternative method compared to
# specifying the power connections in the RTL
#PDN_MACRO_CONNECTIONS:
#- "i_chip_core.sram_0 VDD VSS VDDARRAY! VSS!"
#- "i_chip_core.sram_0 VDD VSS VDD! VSS!"
#- "i_chip_core.sram_1 VDD VSS VDDARRAY! VSS!"
#- "i_chip_core.sram_1 VDD VSS VDD! VSS!"
#- "i_chip_core.sram_2 VDD VSS VDDARRAY! VSS!"
#- "i_chip_core.sram_2 VDD VSS VDD! VSS!"

# Custom PDN config to connect to SRAMs
#PDN_CFG: dir::pdn_cfg.tcl
